body { background-color: lightgrey;
    
}
button {background-color: lightblue;
        width: 40px;
        height: 25px;
         
}
 :hover {
    background-color: lightgrey;
}
.result{
    background-color: lightcoral;
    width: 175px;
    height: 35px;
    margin-top: 5px;
}